{% extends "base.html" %}

{% block title %}
Add Task - {{ super() }}
{% endblock %}

{% block content %}
<div class="col-md-5 p-5">
<form method="post">
    <h1>Add Task</h1>
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label(class="form-label") }}
        {{ form.name(size=32, class="form-control mb-3") }}
    </div>
    <div>
        {{ form.description.label(class="form-label") }}
        {{ form.description(rows=5, cols=50, class="form-control mb-3") }}
    </div>
    <div>
        {{ form.due_date.label(class="form-label") }}
        {{ form.due_date(class="form-control mb-3") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary mb-3") }}
    </div>
</form>
</div>

<script>
    document.getElementById('add_task').classList.add("active")
    document.getElementById('add_task').classList.remove("link-body-emphasis")
</script>

{% endblock %}