{% extends "base.html" %}

{% block title %}
Edit Task - {{ super() }}
{% endblock %}

{% block content %}
<div class="col-md-5 p-5">
<form method="post">
    <h1>Edit Task</h1>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div>
        <label class="form-label" for="name">Name</label>
        <input maxlength="100" class="form-control mb-3" size=32 type="text" name="name" value="{{ task.name }}" required>
    </div>
    <div>
        <label class="form-label" for="description">Description</label>
        <textarea maxlength="255" rows="5" cols="50" class="form-control mb-3" name="description">{{ task.description }}</textarea>
    </div>
    <div>
        <label class="form-label" for="due_date">Due Date</label>
        <input class="form-control mb-3" type="date" name="due_date" value="{{ task.due_date }}">
    </div>
    <div>
        <input class="btn btn-primary mb-3" type="submit" value="Update">
    </div>
</form>
</div>

<script>
    document.getElementById('add_task').classList.add("active")
    document.getElementById('add_task').classList.remove("link-body-emphasis")
</script>

{% endblock %}
