<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
</head>
<body>
    <h1>Task Manager</h1>

    <h2>Uncompleted Tasks</h2>
    <ul>
        {% for task in uncompleted_tasks %}
            <li>
                {{ task.content }}
                <a href="/complete/{{ task.id }}">Complete</a>
                <a href="/edit/{{ task.id }}">Edit</a>
                <a href="/delete/{{ task.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Completed Tasks</h2>
    <ul>
        {% for task in completed_tasks %}
            <li>
                {{ task.content }}
                <a href="/incomplete/{{ task.id }}">Incomplete</a>
                <a href="/edit/{{ task.id }}">Edit</a>
                <a href="/delete/{{ task.id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/add">Add Task</a>
</body>
</html>
